parameters:
	scanFiles:
		- tests/fixtures/ClassesAndInterfaces.php
	level: 8
	paths:
		- src
	# отключаем "строгие" дженерики (ReflectionClass<Foo> вместо ReflectionClass)
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# типы для массивов указывать излишне, т.к. для этих целей есть Collection
		- '#no value type specified in iterable type array#'
		# дженерики
		- '#expects class-string#'
