parameters:
	scanFiles:
		- tests/fixtures/ClassesAndInterfaces.php
	level: 8
	paths:
		- src
    # дженерики
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# типы для массивов указывать излишне
		- '#no value type specified in iterable type array#'
		# дженерики
		- '#expects class-string#'
