parameters:
	scanFiles:
		- %currentWorkingDirectory%/utils/tests/fixtures/ClassesAndInterfaces.php
	level: 6
	paths:
		- %currentWorkingDirectory%/src
	ignoreErrors:
		# типы для массивов указывать излишне
		- '#no value type specified in iterable type array#'
		- '#not specify its types: #'
