parameters:
	scanFiles:
		- /app/utils/tests/fixtures/ClassesAndInterfaces.php
	level: 8
	paths:
		- /app/src
    # дженерики
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# типы для массивов указывать излишне
		- '#no value type specified in iterable type array#'
		# дженерики
		- '#expects class-string#'
